<div class="modal-header">
	<h4 class="modal-title" id="myModalLabel"><% if station!=nil %><%= station['stop_name'] %><% end %></h4>
</div>
<div class="modal-body">
	<h2>Broad-Walnut - Broad-Street Line</h2>
	<div>
		<h3>
			This is an accessible station
		</h3>
		<div>
			<iframe width="560" height="315" src="//www.youtube.com/embed/Y1uCHkGgOo0" frameborder="0" allowfullscreen></iframe>
		</div>
		<h3>Connections</h3>
		<div>
			<ul>
				<li>PATCO Speedline at 12th-13th & Locust and 15th-16th & Locust</li>
				<li>City Bus SEPTA City Bus: 4, 9, 12, 21, 27, 32, 42</li>
		</div>
		<h3>Station Layout</h3>
		<div>
		<table cellspacing="0" cellpadding="3" border="0">
			<tbody><tr>
			<td width="50" valign="top" style="border-top:solid 1px gray;border-bottom:solid 1px gray;"><b>G</b></td>
			<td width="100" valign="top" style="border-top:solid 1px gray;border-bottom:solid 1px gray;">Street Level</td>
			<td width="400" valign="top" style="border-top:solid 1px gray;border-bottom:solid 1px gray;">Entrances/Exits</td>
			</tr>
			<tr>
			<td width="50" valign="top" style="border-top:solid 0px gray;"><b>M</b></td>
			<td width="100" valign="top" style="border-top:solid 0px gray;">Mezzanine</td>
			<td width="400" valign="top" style="border-top:solid 0px gray;">to entrances/exits, passageway to <a title="PATCO Speedline" href="/wiki/PATCO_Speedline">PATCO</a> platforms at <a title="15&ndash;16th &amp; Locust (PATCO station)" href="/wiki/15%E2%80%9316th_%26_Locust_(PATCO_station)">15&ndash;16th &amp; Locust</a>, fare control</td>
			</tr>
			<tr>
			<td width="50" valign="top" rowspan="6" style="border-top:solid 1px gray;border-bottom:solid 1px gray;"><b>P<br>
			Platform level</b></td>
			<td width="100" style="border-top:solid 1px gray;"><span style="color:#f37324"><b>Southbound local</b></span></td>
			<td width="400" style="border-top:solid 1px gray;">← <a title="Broad Street Line" href="/wiki/Broad_Street_Line"><span style="color:white;background:#f37324"><b>Local</b></span></a> toward <a title="AT&amp;T (SEPTA station)" href="/wiki/AT%26T_(SEPTA_station)">AT&amp;T</a> <small>(<a title="Lombard&ndash;South (SEPTA station)" href="/wiki/Lombard%E2%80%93South_(SEPTA_station)">Lombard&ndash;South</a>)</small></td>
			</tr>
			<tr>
			<td align="center" colspan="2" style="border-bottom:solid 2px black;border-top:solid 2px black;border-right:solid 2px black;border-left:solid 2px black;"><small style="font-size:85%;"><a title="Island platform" href="/wiki/Island_platform">Island platform</a>, doors will open on the left for local trains, right for express trains</small></td>
			</tr>
			<tr>
			<td style="border-bottom:solid 1px gray;"><span style="color:#f37324"><b>Southbound express</b></span></td>
			<td style="border-bottom:solid 1px gray;">← <a title="Broad Street Line" href="/wiki/Broad_Street_Line"><span style="color:white;background:#f37324"><b>Express</b></span></a> alighting passengers only</td>
			</tr>
			<tr>
			<td><span style="color:#f37324"><b>Northbound express</b></span></td>
			<td><span style="color:white">→</span> <a title="Broad Street Line" href="/wiki/Broad_Street_Line"><span style="color:white;background:#f37324"><b>Express</b></span></a> toward <a title="Fern Rock Transportation Center" href="/wiki/Fern_Rock_Transportation_Center">Fern Rock</a> <small>(<a title="City Hall (SEPTA station)" href="/wiki/City_Hall_(SEPTA_station)">City Hall</a>)</small> →</td>
			</tr>
			<tr>
			<td align="center" colspan="2" style="border-bottom:solid 2px black;border-top:solid 2px black;border-right:solid 2px black;border-left:solid 2px black;"><small style="font-size:85%;"><a title="Island platform" href="/wiki/Island_platform">Island platform</a>, doors will open on the left for local trains, right for express trains</small></td>
			</tr>
			<tr>
			<td style="border-bottom:solid 1px gray;"><span style="color:#f37324"><b>Northbound local</b></span></td>
			<td style="border-bottom:solid 1px gray;"><span style="color:white">→</span> <a title="Broad Street Line" href="/wiki/Broad_Street_Line"><span style="color:white;background:#f37324"><b>Local</b></span></a> toward Fern Rock <small>(City Hall)</small> →</td>
			</tr>
			</tbody></table>
		</div>
		<h3>Description</h3>
		
		<p>Walnut–Locust is a subway station on SEPTA's Broad Street Line in Philadelphia, Pennsylvania. The station is located between Walnut Street and Locust Street at 200 South Broad Street in the Avenue of the Arts district of Center City, Philadelphia.</p>
	
	
		<p>Walnut–Locust is served by local trains, special "sport express" trains, and is the southern terminus for express trains, which reverse direction on tracks immediately south of the station. On the "sport express" line, the station is the last stop before its terminus at the AT&T station.</p>

		<p>It is attached by the Center City Commuter Connection underground concourse to City Hall Station and PATCO Speedline's 12–13th & Locust Station and 15–16th & Locust Station. However, no free interchange is available to either of these stations.</p>

		<p>Passengers utilizing Walnut-Locust station may access the Kimmel Center for the Performing Arts, the Bellevue shops and restaurants, and the Academy of Music. Seven blocks east of the station lies Washington Square, while Rittenhouse Square lies four blocks west.</p>
	</div>
	
	<h3>Elevator outage history</h3>
	<div>
		No outages reported
	</div>
</div>